@layer components {
  [role="alert"] {
    position: relative;
    display: flex;
    gap: var(--lm-space-3);
    padding: var(--lm-space-4);
    background-color: var(--lm-background);
    border: 1px solid var(--lm-border);
    border-radius: var(--lm-radius);
    font-size: var(--lm-text-7);

    &[data-variant] {
      border: none;
    }

    &[data-variant="error"], &[data-variant="danger"] {
      color: var(--lm-danger);
      background-color: color-mix(in srgb, var(--lm-danger) 8%, white);

      & a {
        color: var(--lm-danger);
      }
    }

    &[data-variant="success"] {
      color: var(--lm-success);
      background-color: color-mix(in srgb, var(--lm-success) 8%, white);

      & a {
        color: var(--lm-success);
      }
    }

    &[data-variant="warning"] {
      color: var(--lm-warning);
      background-color: color-mix(in srgb, var(--lm-warning) 8%, white);

      & a {
        color: var(--lm-warning);
      }
    }

    [data-theme="dark"] & {
      &[data-variant="error"], &[data-variant="danger"] {
        background-color: color-mix(in srgb, var(--lm-danger) 20%, black);
      }

      &[data-variant="success"] {
        background-color: color-mix(in srgb, var(--lm-success) 20%, black);
      }

      &[data-variant="warning"] {
        background-color: color-mix(in srgb, var(--lm-warning) 20%, black);
      }
    }
  }
}
