@layer components {
  .badge {
    display: inline-flex;
    align-items: center;
    gap: var(--lm-space-1);
    padding: var(--lm-space-1) var(--lm-space-4);
    font-size: var(--lm-text-8);
    font-weight: var(--lm-font-medium);
    line-height: var(--lm-leading-normal);
    background-color: var(--lm-primary);
    color: var(--lm-primary-foreground);
    border-radius: var(--lm-radius-full);

    &.secondary {
      background-color: var(--lm-secondary);
      color: var(--lm-secondary-foreground);
    }

    &.outline {
      background-color: transparent;
      color: var(--lm-foreground);
      border: 1px solid var(--lm-border);
    }

    &.success {
      color: var(--lm-success);
      background-color: color-mix(in srgb, var(--lm-success) 12%, white);
    }

    &.warning {
      color: var(--lm-warning);
      background-color: color-mix(in srgb, var(--lm-warning) 12%, white);
    }

    &.danger {
      color: var(--lm-danger);
      background-color: color-mix(in srgb, var(--lm-danger) 15%, white);
    }

    [data-theme="dark"] & {
      &.success {
        background-color: color-mix(in srgb, var(--lm-success) 40%, black);
      }

      &.warning {
        background-color: color-mix(in srgb, var(--lm-warning) 40%, black);
      }

      &.danger {
        background-color: color-mix(in srgb, var(--lm-danger) 40%, black);
      }
    }
  }
}
